.filter_card {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  background: #fffefe;
  border-radius: 0.25rem;
}

.filter_section_header {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: clamp(0.75rem, 0.75rem + 1vw, 1.5rem);
}

.filter_year_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter__select_launchyear {
  display: flex;
  height: 2rem;
  margin: 0.5rem;
  padding: 0 0.5rem;
  border: thin solid grey;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media all and (min-width: 1441px) {
  .filter_card {
    width: 50vw;
  }

  .filter_div {
    margin: 1rem;
  }
}
