.filter_card {
    display: flex;
    flex-direction: column;
    background: #fffefe;
}

.header {
    margin-left: 0.5rem;
}

.filter_section_header {
    display: flex;
    justify-content: center;
}

.filter_year_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}