.container {
  max-width: none;
  margin: 0 0.5rem;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left_section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  border-radius: 0.5rem;
}

.right_section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
}

.header_section {
  font-size: clamp(1rem, 1rem + 2vw, 3rem);
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.5rem;
}

@media all and (max-width: 1024px) and (min-width: 700px) {
  .parent {
    flex-wrap: nowrap;
    flex-grow: 2;
  }

  .left_section {
    width: 35vw;
  }
}

@media all and (max-width: 1440px) and (min-width: 1024px) {
  .parent {
    flex-wrap: nowrap;
    flex-grow: 2;
  }

  .left_section {
    width: 25vw;
  }
}

@media all and (min-width: 1441px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .right_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
