.mission_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0.5rem 0 0.5rem;
    background: #eaeaea;
    border-radius: 0.5rem;
}

.mission_image img {
    margin: 0.5rem 0;
    max-width: 100%;
    height: auto;
}

.mission_title {
    margin: 0.5rem 0 0 0.5rem;
    font-weight: bold;
    color: darkblue;
    align-self: start;
}

.mission_field {
    margin-left: 0.5rem;
    align-self: start;
}

.text_label {
    font-weight: bold;
}

.text_value {
    color: darkblue;
}

@media all and (max-width: 1023px) and (min-width: 700px)  {
    .mission_card {
        flex: 0 1 calc(50% - 1rem);
        margin: 1rem 0.5rem 0 0.5rem;
    }
}


@media all and (max-width: 1440px) and (min-width: 1024px)  {
    .mission_card {
        flex: 0 1 calc(25% - 1rem);
        margin: 1rem 0.5rem 0 0.5rem;
    }
}